:root {
    --color-azul: #196eb4;
    --color-azul-hover: #033157;
    --color-blanco: #FFFFFF;
    --color-oscuro: #363636;
    --color-oscuro-hover: #070707;
    --tiempo-animacion:300ms;
    --verde-opaco: #BAD89A;
    --verde-hover: #62773E;
    --rojo-claro: #ff4040;
    --rojo-oscuro-hover: #e00000;
}

.btninicio {
    background: #161a22;
    color: #e6e9ef;
    margin-left: 50px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.btn-edit {
    background-color: var(--color-oscuro);
    color: var(--color-blanco);
    margin-top: 2px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: var(--color-oscuro-hover);
}

.btn-edit, .btn-del {
    transition: var(--tiempo-animacion);
}

.btn-del {
    background: var(--rojo-claro);
    color: var(--color-blanco);
    margin-top: 2px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.btn-del:hover {
    background-color: var(--rojo-oscuro-hover);
}

audio {
    border-radius: 10px;
}